<!-- <mat-toolbar color="primary"><span> Ristorante Con Fusion</span> </mat-toolbar>
-->
<!-- Yeh file apni pura html code ki hoti hh toh isme hmm selector include krdete hh component ke taki vo components run ho same order m -->
<app-header></app-header>         <!--yha sare selector hote hh apne components ke, jo class k upar likhe hote hh.ts file m   -->
<!--<app-menu></app-menu>   -->
<router-outlet></router-outlet> <!---->
<app-footer></app-footer>

<!-- VO PURE         @Component({


})

KO DECORATER BOLTE HH JISME APNA SELECTOR, TEMPLATEURL AND STYLEURL AATA HH



-->

<!-- aur jo selector k niche  templateUrl btata hh file jo run hogi vo component run hone p -->
<!-- apan jese templateUrl likte hh jo file html file btata hh ki bhai yeh file hh isse run kro 
    apan sidha templateUrl ki jaga template:" ",   likh k  apna pura html code usme likh sakte hh

    same goes for StyleUrl
-->